<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Information Management System</title>
  <link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
    <header>
        <h1>Student Information Management System</h1>
      </header>
      
      <div class="container">
        <div class="half-container">
          <div class="table-container" id="studentsTable">
            <h2>Students <button class="add-button" (click)="onAddStudent()">Add Student</button></h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ student }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
        <div class="half-container">
          <div class="table-container" id="coursesTable">
            <h2>Courses <button class="add-button" (click)="onAddCourse()">Add Course</button></h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Course Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courses; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ course }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</body>
</html>
