body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Added to stack elements vertically */
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

h1 {
    color:#014444; /* Adjust the color as needed */
    margin-top: 5%;
	
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 128, 128, 0.1);
    width: 300px;
    margin-top: 2%; /* Added space between the heading and the form container */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.switch {
    text-align: center;
    margin-top: 16px;
}

.switch a {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
}